In [3]:
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
transactions = pd.read_csv('data/dataset-transactions.csv', sep = ';')
frauds = pd.read_csv('data/dataset-frauds.csv', sep = ';')

In [5]:
transactions_selector = transactions['id'].isin(frauds['transaction_id'])
frauds_transactions = transactions[transactions_selector]
fraud_trasactions_sort_by_decrescent_order = frauds_transactions.sort_values(by = 'value', ascending = False)
fraud_trasactions_sort_by_decrescent_order.index = range(fraud_trasactions_sort_by_decrescent_order.shape[0])
fraud_trasactions_sort_by_decrescent_order

               id          card_number transaction_date  value segment
0    CTID20567160  3295-6390-4452-7199       2016-10-08  49155   SEG16
1    CTID15034243  4562-2665-7578-1931       2016-02-14  48845   SEG19
2    CTID95884307  2017-7197-7814-9950       2016-11-07  48588   SEG16
3    CTID54759604  8262-8743-6406-7105       2016-09-07  48567   SEG20
4    CTID55429304  9030-1667-6058-6173       2016-03-03  48514   SEG15
..            ...                  ...              ...    ...     ...
104  CTID92439353  8159-1257-4706-7544       2016-01-17   5079   SEG11
105  CTID43014391  8106-9789-1679-2552       2016-01-19   4195   SEG25
106  CTID56692687  3620-5235-2101-3391       2016-12-15   2211   SEG22
107  CTID52594996  8228-6661-8736-2838       2016-08-14   1570   SEG17
108  CTID26555772  5734-5619-8469-4044       2016-01-11    683   SEG22

[109 rows x 5 columns]

In [6]:
print('O id da transferência de maior valor é {} e seu valor é igual a {}R$'.format(fraud_trasactions_sort_by_decrescent_order['id'].iloc[0],fraud_trasactions_sort_by_decrescent_order['value'].iloc[0]))

O id da transferência de maior valor é CTID20567160 e seu valor é igual a 49155R$

- **Conclusão:** Através da seleção das fraudes dentro do *dataset* de transações foi possível obter o valor referente as transações fraudulentas, após isso, foi possível obter o "id" e o "value" da transação de maior valor sendo o "id" = CTID20567160 e o Valor = 49155R$